html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-family: "Public Sans", sans-serif;
  --light: #55efc4;
  --primary: #27ae60;
  --dark: #16a085;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd; }
